@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,800;1,900&display=swap');
*{
  margin :0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}
*:focus {
  outline: none;
}
html{
  scroll-behavior: smooth; 
}
body {
    min-height: 100vh;
    width: 100%;
    background-color: #f8fafb;
}
.section1{
  position: relative;
  min-height: 100%;
  width: 100%;  
  background-color: #f8fafb;
}

.navbar{
  /* background-image: linear-gradient(to right, #60cab8 , #62dfca); */
  top: 0;
  width: 100%;
  background-color:#ffffff;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
}

.logo{
  padding-left: 20px;
  font-size: 50px;
  font-weight: 600;
  color: #262a5b;
}
.logo span{
  color: #ed137d;
}
.nav-link{
  position: relative;
  margin: 5px;
  padding: 0 5px 0 5px 0;
  font-size: 15px;
  border-radius: 28px;
  background-color:  rgb(86, 6, 139);
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
  
}
.nav-link:hover{
  color :rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);  
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12); */
}
input {
  margin: 5px;
  padding: 10px;
  border: 2px #262a5b solid;
  border-radius: 10px;
  -webkit-appearance:none;
  /* background-color: none;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat; */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

textarea:focus, input:focus{
  outline: none;
}

.banner{
  padding-top: 90px;
  position: relative;
  width: inherit;
}
.banner .title{
  margin: 0;
  line-height: 100%;
  padding-top: 50px;
  font-size: 80px;  
  font-weight: 600;
  color: #262a5b;
}
.banner .subtitle{
  margin: 0;
  line-height: 90px;
  position: relative;
  font-size: 30px;
  font-weight: 900;
}
.banner .subtitle span{
  color: #ed137d;
}
.table1{
  width: 100%;
  position: relative;
  z-index: 100;
}
.contentA{
  padding-left:50px;
  padding-top: 50px;
}
.contentA .content{
  font-family: 'Public Sans', sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}
.contentA button{
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
  font-weight:600;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  color: #ffffff;
  /* background-image: linear-gradient(to right, #60cab8 , #60cab8 ); */
  background-color:   rgb(86, 6, 139); 
  padding: 0;
  border: none;
  transition: .5s;
}
.contentA button:focus{
  outline: none;
}
.contentA button:hover{
  /* background-image: linear-gradient(to right, #03bd9e, #60cab8 ); */
  background-color: #ed137d;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}
.contentB{
  align-items: center;
}
.contentB img{
  position: static;
  top: 100px;
  box-sizing: content-box;
  margin: 0;
  width:1200px;
  height:700px;
}

/* Section 2 for the boxes*/

.section2{
  position: relative;
  min-height: 100%;
  width: 100%;  
  background-color: #f8fafb;
}

.section2 .cell{
  display: block;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(86, 6, 139); 
  text-align: center;
  transition: all ease-in-out 0.3s;
  background: rgb(255, 255, 255);
}

.section2 .cell:hover{
  margin: 30px;
  padding: 20px;
  background-color: rgb(86, 6, 139);
  border-color:rgb(86, 6, 139);
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);  
  transform: translateY(-10px);
}

.section2 .cell img{
  
  padding: 0;
  margin: 0;
  height: 200px;
  width: 250px;
}
